# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# PyCharm
.idea/
*.iml
.DS_Store

# Data
data/
dataset/

# Model checkpoints and logs
models/
mlruns/

# Distribution / packaging
.Python
*.manifest
*.spec 